black~=22.6
discord.py~=2.1
numpy~=1.23
pillow~=9.3
psutil~=5.9
pygame~=2.1
pygame_gui>=0.5.7
python-dotenv~=0.21
snakecore @ git+https://github.com/pygame-community/snakecore.git@v0.1.6#egg=snakecore-0.1.6
unidecode~=1.3
